<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.nj.launch.ISSLaunch">
<intAttribute key="com.altera.nj.launch.DEBUG_TARGET" value="2"/>
<booleanAttribute key="com.altera.nj.launch.USE_ALTERA_GENERATED_GDB_SCRIPT" value="false"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=""/>
<stringAttribute key="com.altera.nj.launch.PTF_CPU" value="cpu"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.nj.debug.core.NJGDBDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/DE2_115_Audio.elf"/>
<booleanAttribute key="com.altera.nj.launch.LAUNCH_FS2" value="false"/>
<booleanAttribute key="com.altera.nj.launch.QUEST_TRACING" value="true"/>
<stringAttribute key="com.altera.nj.launch.PTF_NAME" value="E:\SVN\DE2_115\trunk\ref_design\de2_115_Audio\DE2_115_SOPC.ptf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="DE2_115_Audio"/>
<booleanAttribute key="com.altera.nj.launch.QUEST_TRACE_WARNING" value="true"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="com.altera.nj.launch.QUEST_LOCATION" value="nios2-iss"/>
</launchConfiguration>
